<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Vars.wxi?>
  <Product Id="$(var.ProductCode)"
           Name="$(var.ProductName)"
           Language="1049"
           Codepage="1251"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes"/>
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="$(var.NewerVersionInstalled)" AllowSameVersionUpgrades="no"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLLOCATION">
          <Directory Id="OFFICEVALIDATION" Name="OfficeValidation" />
        </Directory>
      </Directory>
    </Directory>
    <FeatureRef Id="App"/>
    <UIRef Id="WixUI_FeatureTree"/>
  </Product>
</Wix>
