<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Vars.wxi?>
  <Product Id="$(var.ProductCode)"
           Name="$(var.ProductName)"
           Language="1049"
           Codepage="1251"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes"/>
    <MediaTemplate EmbedCab="yes"/>
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="Уже установлена более новая версия данного продукта." AllowSameVersionUpgrades="no"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder"/>
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
          <Directory Id="APPLICATIONFOLDER" Name="OfficeValidation">
              <Directory Id="APPLICATIONFOLDER64" Name="x64">
              </Directory>
              <Directory Id="APPLICATIONFOLDER86" Name="x86">
              </Directory>
          </Directory>
      </Directory>
    </Directory>
    
    <FeatureRef Id="AppFiles"/>

    <CustomAction Id="Overwrite_WixSetDefaultPerMachineFolder" Property="WixPerMachineFolder" Value="[ProgramFiles64Folder][ApplicationFolderName]" Execute="immediate" />
    <InstallUISequence>
      <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="Overwrite_WixSetDefaultPerMachineFolder" After="WixSetDefaultPerMachineFolder" />
    </InstallExecuteSequence>
    
    <Property Id="ApplicationFolderName" Value="OfficeValidation" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUILicenseRtf" Value="../MIT-X License.rtf"/>
    <UI>
      <UIRef Id="WixUI_Advanced" />
    </UI>
  </Product>
</Wix>
